flask==3.0.0
flask-cors==4.0.0
langchain==0.2.4
chromadb==0.4.24
requests==2.32.3
python-dotenv==1.0.1
arxiv==1.4.8
pytest==7.4.4
PyJWT==2.9.0
docling==2.61.1
easyocr==1.7.1
onnxruntime==1.17.3
onnxruntime-tools==1.7.0
PyMuPDF==1.24.10
